// colors

$color-dark-cyan: hsl(185, 75%, 39%);
$color-very-dark-blue: hsl(229, 23%, 23%);
$color-gray-blue: hsl(227, 10%, 46%);
$color-gray: hsl(0, 0%, 59%);

// font
$default-font: "Kumbh Sans", sans-serif;
